
mixin benefitsList()
  .benefits-list
    ul.benefits-list__list
      li.benefits-list__item
        +icon('icon-benefitFirst', 40, 40).benefits-list__img
        p.benefits-list__item-name ГАРАНТИИ
        p.benefits-list__item-text С нашими экспертам мы сотрудничаем уж ного лет - они проверены временем.
      li.benefits-list__item
        +icon('icon-benefitSecond', 40, 40).benefits-list__img
        p.benefits-list__item-name НАДЕЖНОСТЬ
        p.benefits-list__item-text Официальный договор с гарантиями и кассовый чек. Сопровождаем вас до сдачи.
      li.benefits-list__item
        +icon('icon-benefitThird', 40, 40).benefits-list__img
        p.benefits-list__item-name БЕЗОПАСНОСТЬ
        p.benefits-list__item-text Все данные, которые Вы оставляете на нашем сайте, останутся в безопасности.

