
mixin benefitsList()
  .benefits-list
    ul.benefits-list__list
      li.benefits-list__item.benefits-list__item--green
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        p.benefits-list__item-name 2 125 452
        p.benefits-list__item-text успешно оказанных консультаций
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
      li.benefits-list__item.benefits-list__item--white
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        p.benefits-list__item-name 4.9
        p.benefits-list__item-text средний балл работ, наших студентов
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
      li.benefits-list__item.benefits-list__item--blue
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        p.benefits-list__item-name 1 249 945
        p.benefits-list__item-text  постоянных клиента в настоящее время
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
      li.benefits-list__item.benefits-list__item--red
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        span.benefits-list__item-dec.benefits-list__item-dec--left
        p.benefits-list__item-name 18
        p.benefits-list__item-text лет успешной деятельности компании
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
        span.benefits-list__item-dec.benefits-list__item-dec--right
