mixin customSwiper(data)
  section.custom-swiper
    .custom-swiper__container
      .swiper#reviews
        .swiper-wrapper
          each item, index in data
            .swiper-slide
              .custom-swiper__item-wrapper
                .custom-swiper__avatar-wrapper
                  if index === 0
                    +picture('content', 'reviewFirst', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                  else if index === 1
                    +picture('content', 'reviewSecond', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                  else if index === 2
                    +picture('content', 'reviewThird', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                  else if index === 3
                    +picture('content', 'reviewFourth', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                  else if index === 4
                    +picture('content', 'reviewFirth', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                  else
                    +picture('content', 'reviewFirst', 'jpg',279,400,'avatar').custom-swiper__avatar-img
                .custom-swiper__avatar-text-wrapper
                  p.custom-swiper__avatar-name= item.name
                  p.custom-swiper__item-text= item.text
        .swiper-pagination
        .custom-swiper__buttons
          button.swiper-button-next(type="button")
            +icon('icon-arrowLong',29,20)
          button.swiper-button-prev(type="button")
            +icon('icon-arrowLong',20,20)
