mixin header()
    header.header
      .header__container
        +icon('icon-logo', 100, 100).header__logo
        +menu()
        button.header__burger(type="button" aria-label="open-menu")
          +icon('icon-burger',32,18)
