mixin main()
  -
    const REVIEWS_LIST = [
      {
        text: 'Студсервис спасли с очень срочной контрольной по высшей математике( Самой сделать нереально. Попросила, чтобы решение сделали с подробным объяснением чтобы хоть как-то понимать как решалось и не опростоволоситься на зачете. Препод похвалили и зачет теперь у меня «в кармане». Огромное спасибо!',
        name: 'Регина',
      },
            {
        text: 'Выражаю благодарность компании Студсервис за мою работу. Всё сделано в срок и в полном соответствии с требованиями. После защиты преподаватель даже рекомендовал одногруппникам посмотреть мою работу, Огромное спасибо менеджерам! Я осталась очень довольна!',
        name: 'Эдита',
      },
      {
        text: 'В Студсервисе мне писали курсовую работу. Огромная благодарность за оперативную работу автора и менеджера! Задача была ОЧЕНЬ срочной. Радует, что все время были на связи и моментально отвечали на все мои звонки. Работу сдал на 5!!!!',
        name: 'Пётр',
      },

      {
        text: 'Заказала пачку контрольных работ по экономике , учусь на заочке, задают всегда много, а самой делать нет времени. Все сделали очень быстро, а самое главное правильно. Насчет других работ не могу сказать, но планирую и дальше обращаться в данную компанию. Так что пока однозначно рекомендую.',
        name: 'Евгения',
      },
      {
        text: 'Заказал статью ВАК. Очень доволен результатом. В учебном заведении толком не дали никаких вспомогательных материалов и тому подобное, поэтому со своей стороны располагал только темой. Получил работу — сдал на проверку….и получил похвалу, сказали, что работа хорошая и оформление соответствует стандартам. Спасибо за профессионализм.',
        name: 'Дмитрий',
      },
    ]

  main.main
    +startPage()
    +benefitsList()
    +customSwiper(REVIEWS_LIST)
    +tiles()
    +makeOrder()
    +wrapper()
