mixin main()
  -
    const REVIEWS_LIST = [
      {
        text: 'большое спасибо автору! Ответственный, отзывчивый автор. Работа хорошая и выполнена раньше срока!',
        name: 'Анастасия 686',
        theme: 'Курсовая работа #302034',
      },
      {
        text: 'Супер, вопросов по моему заказу нет. вовремя, по требованиям, с нужной уникальностью. налаженная коммуникация с менеджером, он всегда был на связи',
        name: 'Владимир',
        theme: 'Контрольная работа #309245',
      },
      {
        text: 'Заказанной дипломной работой довольна. Все написано по канонам, требовалась сделать небольшую доработку и мне спокойно пошли навстречу. Да, автор чуть опоздал по срокам, но это было незначительно для меня. Без замечаний.',
        name: 'Дарья Андреевна',
        theme: 'Дипломная работа #308193',
      },
      {
        text: 'Заказывала статью для издания. Работу выполнили качественно, раньше срока. Замечаний не было. Доработок не понадобилось. спасибо огромное! Буду обращаться еще.',
        name: 'Белова Екатерина',
        theme: 'Статья #295563',
      },
      {
        text: 'Пользовался услугами компании для написания курсовой и остался доволен, так как работу выполнили в сроки и по всем требованиям, которые были указаны в методичке. К тому же строго были соблюдены проценты оригинальности и плагиата. Защитился успешно. Спасибо.',
        name: 'Константин',
        theme: 'Курсовая работа #305877',
      },
    ]

  main.main
    +startPage()
    +customSwiper(REVIEWS_LIST)
    +workProcess()
    +makeOrder()
    +wrapper()
