mixin makeOrder()
    section.make-order
      .make-order__container
        .make-order__form-wrapper
          h2.make-order__title
            | Дарим скидку
            span  до 15%
            |  на первый заказ при регистрации:
          +customForm({classname: 'second-form',id: 'second'})

