mixin menu()
  -
    const menuList= [
      {
        name: 'Отзывы',
        to: '#reviews',
      },
      {
        name: 'Почему мы?',
        to: '#whyWe',
      },
      {
        name: 'Контакты',
        to: '#contacts',
      },
    ]

  nav.menu()
    button.menu__close(type="button"  aria-label="close-menu")
      +icon('icon-close',30,16)
    ul.menu__list
      each item,index in menuList
        li.menu__item
          a.menu__link(href=item.to )= item.name
    .menu__enters
      a.menu__enter(href="https://studservis-lk.ru/" target="_blank" rel="noreferrer") Вход
      a.menu__enter-mob(href="#header") ОСТАВИТЬ ЗАЯВКУ
    .menu__wrapper-tel-email
      a.menu__tel(href="tel:+78005519557")
        span 8 (800) 551-95-57
      a.menu__city(href="#")
        span Санкт-Петербург
      //- a.menu__email(href="mailto:studservis@yandex.ru")
      //-   +icon('icon-email',16,12)
      //-   span studservis@yandex.ru
    .menu__socials
      ul.menu__social-list
        li.menu__social-item.tg
          a(href="https://t.me/StudSHelp_Bot" aria-label="tg link" target="_blank" rel="noreferrer")
            +icon('icon-tg',30,30)
        li.menu__social-item.vk
          a(href="https://vk.com/referat" aria-label="vk link" target="_blank" rel="noreferrer")
            +icon('icon-vk',30,30)

