mixin startPage()
  .start-page
    .start-page__container
      .start-page__text-wrapper
        h1.start-page__title Закажи студенческую работу без посредников
        p.start-page__info-text
          | Студсервис — организация помощи студентам, официально работает с
          | 2004 года.
      +customForm({classname: 'first-form',id: 'orders'})

