.make-order {
  background: $main-color;
  padding: 0 0 140px;

  @include vp--1023 {
    padding: 0 15px;
    margin: 0 0 140px;
  }

  @include vp--767 {
    padding: 0 15px;
    margin: 0 0 110px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    max-width: 1410px;
    margin: 0 auto;

    @include vp--1439 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "left right"
        "form form";
      column-gap: 100px;
      /* row-gap: 50px; */
      margin: 0 15px;
    }

    @include vp--767 {
      margin: 0;
    }
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1410px;
    background-image: url("../img/content/formBg.jpg");
    background-color: $main-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    column-gap: 50px;
    padding: 82px 50px;
    border-radius: 44px;

    @include vp--1439 {
      grid-area: form;
      margin: 0 auto;
    }

    @include vp--1023 {
      width: 100%;
      max-width: none;
      flex-direction: column;
      align-items: center;
      row-gap: 34px;
    }

    @include vp--767 {
      padding: 51px 11px;
    }
  }

  &__help-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    margin: 0 0 8px;
    color: $button-color;

    @include vp--767 {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.825rem;
    color: $color-default-white;
    margin: 0;

    @include vp--1023 {
      font-size: 1.5rem;
      line-height: 2.125rem;
    }

    @include vp--767 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    span {
      color: $third-color;
    }
  }

  &__image {
    min-width: 160px !important;
    min-height: 280px !important;

    @include vp--1023 {
      display: none !important;
    }

    & img {
      width: auto !important;
      height: auto !important;
      object-fit: contain !important;
    }

    &--left {
      @include vp--1439 {
        grid-area: left;
      }

      & img {
        @include vp--1439 {
          margin-left: auto !important;
        }
      }
    }

    &--right {
      @include vp--1439 {
        grid-area: right;
      }
    }
  }
}
