.menu {
  display: flex;
  width: 100%;
  align-items: center;

  @include vp--1023 {
    flex-direction: column;
    row-gap: 40px;
    padding: 118px 15px 70px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(100%, 0);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    width: 400px;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: $main-color;
    z-index: 110;
  }

  @include vp--767 {
    width: 100%;
  }

  &.open {
    @include vp--1023 {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }

  &__close {
    display: none;

    @include vp--1023 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 15px;
      top: 24px;
      padding: 0;
      margin: 0;
      background-color: $color-transparent;
      outline: none;
      border: none;
      width: 30px;
      height: 16px;
      cursor: pointer;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
    margin: 0 0 12px;
    padding: 0;

    @include vp--1023 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $color-default-white;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: color 0.3s ease;
    font-family: $montserrat-font;

    &:hover {
      color: $dark-text;
    }
  }

  &__enters {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include vp--1023 {
      width: 100%;
      row-gap: 30px;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__enter,
  &__enter-mob {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    outline: none;
    border: solid 1px $color-default-white;
    margin: 0;
    padding: 17px 62px 16px;
    cursor: pointer;
    background-color: $color-transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: $color-default-white;
    font-weight: 700;
    font-family: $main-font;
    font-size: 0.875rem;
    line-height: 122%;
    text-decoration: none;
    text-transform: uppercase;

    @include vp--1023 {
      display: none;
    }

    /* &:hover {
      color: $dark-text;
    } */
  }

  &__enter-mob {
    display: none;
    @include vp--1023 {
      display: flex;
      border: solid 1px $second-color;
      padding: 14px 62px 16px;
      cursor: pointer;
      background-color: $second-color;
    }
  }

  &__reg-button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: $second-color;
    padding: 15px 25px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    color: $color-default-white;
    font-weight: 700;
    font-family: $main-font;
    font-size: 0.875rem;
    line-height: 1.375rem;
    cursor: pointer;
    text-decoration: none;
  }

  &__wrapper-tel-email,
  &__socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 17px;
    justify-content: space-between;

    @include vp--1023 {
      align-items: flex-start;
    }
  }

  &__wrapper-tel-email {
    display: none;

    @include vp--1023 {
      display: flex;
      /* margin: auto 0 0; */
    }
  }

  &__socials {
    display: none;

    @include vp--1023 {
      display: flex;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: none;
    color: $color-default-white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  &__city {
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: $color-default-white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  &__email {
    display: flex;
    align-items: center;
    column-gap: 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: $light-text;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-text;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $light-text;
    margin: 0;
    white-space: nowrap;

    @include vp--767 {
      white-space: normal;
    }
  }

  &__social-list {
    align-items: center;
    height: 100%;
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__social-item {
    & a {
      color: $color-default-white;
      transition: color 0.3s ease;

      &:hover {
        color: $dark-text;
      }
    }
  }
}
